# Twitch API credentials
TWITCH_CLIENT_ID=your_client_id
TWITCH_CLIENT_SECRET=your_client_secret
TWTICH_REDIRECT_URI=http://localhost:8000/auth/twitch

TWTICH_EVENTSUB_PROXY_HOST=
TWTICH_EVENTSUB_PROXY_PORT=8001
TWTICH_EVENTSUB_SECRET=
# Database connection
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres_db
DATABASE_URL=postgresql://postgres:postgres@postgres_db:5432/postgres

# Cooldown settings (in hours)
COOLDOWN_FISHING_IN_HOURS=1
COOLDOWN_ADVENTURE_IN_HOURS=1
COOLDOWN_DUEL_IN_HOURS=0.5

# S3/Backup settings (for bbackups service)
ACCESS_KEY_ID=your_access_key
SECRET_ACCESS_KEY=your_secret_key
BUCKET=your_bucket
DEFAULT_REGION=your_region
HOST_BASE=your_host_base
HOST_BUCKET=your_host_bucket

# Other environment variables as needed

CLICKHOUSE_USER=clickhouse
CLICKHOUSE_PASSWORD=clickhouse
CLICKHOUSE_HOST=clickhouse_db
CH_MIGRATIONS_HOST="http://clickhouse_db:8123"
CH_MIGRATIONS_USER=clickhouse
CH_MIGRATIONS_PASSWORD=clickhouse
CH_MIGRATIONS_DB=default
CH_MIGRATIONS_HOME="./clickhouse/migrations"

LOG_LEVEL=debug