services:
  postgres_db:
    image: postgres:16
    hostname: postgres_db
    container_name: postgres_db
    restart: always
    volumes:
      - ./data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    env_file:
      - .env
    ports:
      - '5432:5432'
    networks:
      - prisma-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 2s
      retries: 20
  clickhouse_db:
    image: clickhouse/clickhouse-server
    container_name: clickhouse_db
    restart: always
    environment:
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
    env_file:
      - .env
    volumes:
      - ./clickhouse_data:/var/lib/clickhouse
      - ./clickhouse/config/z_disable_logs.xml:/etc/clickhouse-server/config.d/z_disable_logs.xml
    ports:
      - '8123:8123'
      - '9000:9000'
    networks:
      - prisma-network
    healthcheck:
      test: ["CMD-SHELL", "echo 'SELECT 1' | clickhouse-client --user=${CLICKHOUSE_USER} --password=${CLICKHOUSE_PASSWORD}"]
      interval: 5s
      timeout: 2s
      retries: 20
  server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8000:8000'
      - '8001:8001'
    depends_on:
      postgres_db:
        condition: service_healthy
      clickhouse_db:
        condition: service_healthy
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      # Add other variables as needed
    volumes:
      - ./secrets:/usr/src/app/secrets
      - ./config:/usr/src/app/config
    networks:
      - prisma-network

  # pgbackups:
  #   image: prodrigestivill/postgres-backup-local
  #   restart: always
  #   volumes:
  #     - ./db_backups:/backups
  #   depends_on:
  #     postgres_db:
  #       condition: service_healthy
  #   environment:
  #     - POSTGRES_HOST=postgres_db
  #     - POSTGRES_DB=${POSTGRES_DB}
  #     - POSTGRES_USER=${POSTGRES_USER}
  #     - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  #     #  - POSTGRES_PASSWORD_FILE=/run/secrets/db_password <-- alternative for POSTGRES_PASSWORD (to use with docker secrets)
  #     - SCHEDULE=@daily
  #     - BACKUP_ON_START=TRUE
  #     - BACKUP_KEEP_DAYS=7
  #     - BACKUP_KEEP_WEEKS=4
  #     - BACKUP_KEEP_MONTHS=6
  #     - HEALTHCHECK_PORT=8080
  #   env_file:
  #     - .env
  #   networks:
  #     - prisma-network

  bbackups:
    image: kartoza/pg-backup:16-3.4
    env_file:
      - .env
    environment:
      - DUMPPREFIX=PG
      - POSTGRES_HOST=postgres_db
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASS=${POSTGRES_PASSWORD}
      - POSTGRES_PORT=5432
      - DBLIST=postgres
      - STORAGE_BACKEND=S3
      - ACCESS_KEY_ID=${ACCESS_KEY_ID}
      - SECRET_ACCESS_KEY=${SECRET_ACCESS_KEY}
      - BUCKET=${BUCKET}
      - DEFAULT_REGION=${DEFAULT_REGION}
      - HOST_BASE=${HOST_BASE}
      - HOST_BUCKET=${HOST_BUCKET}
      - SSL_SECURE=True
      #- CRON_SCHEDULE="*/5 * * * *"
    restart: on-failure
    depends_on:
      postgres_db:
        condition: service_healthy
    networks:
      - prisma-network
networks:
  prisma-network:
    name: prisma-network
